<body class="cricket" background="https://af-production.s3.amazonaws.com/photos/images/76458/original/books.jpg"></body>
<div class="reva">
<p>
<br>
<%=@na%>
</br>
Q1.<%= @subr %>
</p>

<br>
<%=@nam%>
</br>
<p>
Q2.<%= @sub %>
</p>

<br> <%=@name%> </br>
<p> Q3.
  <%= @give %>
  </p>

<p>
  <br>
  <%=@other%>
  </br>
 Q4. <%= @given %>
</p>


  <br>
  <%=@lol%>
  <br>

  Q5. <%= @gave %>
</p>
<p>
</div>
  <div class="hate">
  <br>
  <%=@lmao%>
  </br>
 Q6. <%= @steal %>
</p>
<p>
  <br>
  <%=@die%>
  </br>
 Q7. <%= @stolen %>
</p>
<p>
  <br>
  <%=@died%>
  </br>
 Q8. <%= @rage %>
</p>
<p>
  <br>
  <%=@tiger%>
  </br>
 Q9. <%= @lion %>
</p>
<p>
  <br>
  <%=@dino%>
  </br>
Q10.  <%= @deer %>
</p>
</div>
</body>
<h1 class="football">
  You have scored <%= @submt%> marks.
</h1>
<div class="volley">
  <a href="/index/index"><b>Home</b></a>
</div>